:root {
	--color-alfa: #fff;
	--color-beta: #000;
	--nav-color: #333;
	--color-blue: #2393f9;
	--light-blue: #5DB2FF;
	--color-orange: #fd945e;
	--color-green: #37ef8d;
}

body {
	font-family: 'Poppins', sans-serif;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.left {
	display: flex;
	justify-content: left;
	align-items: flex-start;
}

.article__btn {
	border: none;
	border-radius: 5px;
	color: var(--color-alfa);
}