/* HEADER */
.header__logo {
	position: absolute;
	left: 30%;
	transform: translate(-50%, -50%);
	top: 33px;
	width: 170px;
}

.nav-label {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	background: #333;
}

.icon-burger {
	font-size: 40px;
	color: var(--color-alfa);
}

.nav-btn:checked + .nav__menu {
	display: block;
}

.nav-btn {
	display: none;
}

.nav__item,
.menu__item {
	background: #333;
	margin: 5px;
	padding: 10px;
}

.menu__item {
	border: 1px solid white;
	border-radius: 30px;
	text-align: center;

	width: 140px;
}

.nav__link,
.menu__link {
	text-decoration: none;
	text-transform: uppercase;
}

.nav__menu {
	display: none;
	text-align: center;
}

.menu__list {
	display: none;
	font-size: 12px;
	text-align: right;
}

.menu__list:hover {
	display: block;
}

.nav__item:hover > .menu__list {
	display: flex;
	justify-content: center;
}

a {
	color: var(--color-alfa);
}

/* MAIN ~ get-start */
.get-start {
	background-image: url('../images/banner/banner.png');
	height: 680px;
	background-size: cover;
	background-position: center;
	color: var(--color-alfa);
}

.header__title--get-start {
	margin: 20px 20px 10px;
	font-size: 23px;
}

.header__title {
	text-transform: capitalize;
}

.container--get-start {
	flex-direction: column;
}

.container__text--get-start {
	margin: 0 20px;
	font-size: 12px;
}

.container__btn--get-start {
	padding: 10px 20px;
	margin: 20px 0 60px;
	border: none;
	color: var(--color-alfa);
	background: #37ebed;
	border-radius: 8px;
}

.container__img--get-start {
	height: 50%;
}

/* MAIN ~ save-time */
