/* HEADER ~ nav */
.header__logo--navbar {
	position: absolute;
	left: 30%;
	transform: translate(-50%, -50%);
	top: 33px;
	width: 170px;
}

.nav-label {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	background: var(--nav-color);
}

.icon-burger {
	font-size: 40px;
	color: var(--color-alfa);
}

.nav-btn:checked + .nav__menu {
	display: block;
}

.nav-btn {
	display: none;
}

.nav__item,
.menu__item {
	background: var(--nav-color);
	margin: 5px;
	padding: 10px;
}

.menu__item {
	border: 1px solid var(--color-alfa);
	border-radius: 30px;
	text-align: center;

	width: 140px;
}

.nav__link,
.menu__link {
	text-decoration: none;
	text-transform: uppercase;
}

.nav__menu {
	display: none;
	text-align: center;
}

.menu__list {
	display: none;
	font-size: 12px;
	text-align: right;
}

.menu__list:hover {
	display: block;
}

.nav__item:hover > .menu__list {
	display: flex;
	justify-content: center;
}

a {
	color: var(--color-alfa);
}

/* MAIN ~ get-start */
.get-start {
	background-image: url('../images/banner/banner.png');
	height: 780px;
	background-size: cover;
	background-position: center;
	color: var(--color-alfa);
}

.header__title--get-start {
	margin: 20px 20px 10px;
	font-size: 23px;
	text-transform: capitalize;
}

.article__content--get-start {
	flex-direction: column;
}

.article__text--get-start {
	margin: 0 20px;
	font-size: 12px;
}

.article__btn--get-start {
	padding: 10px 20px;
	margin: 20px 20px 60px;
	background: #37ebed;
}

.container--get-start {
	flex-direction: column;
}

.container__img--get-start {
	height: 50%;
}

/* MAIN ~ benefits */
.benefits {
	margin-top: 60px;
	height: 650px;
}

.header__title--benefits {
	margin-bottom: 30px;
	font-size: 18px;
}

.benefit__text {
	margin: 13px 0 25px;
	width: 160px;
	text-align: center;
}

.benefit__item {
	flex-direction: column;
}

.benefit__icon {
	width: 90px;
	height: 90px;
	padding: 25px;
	border-radius: 15px;
}

.benefit__icon--blue {
	background: var(--color-blue);
	box-shadow: 2px 2px 10px var(--color-blue);
}

.benefit__icon--orange {
	background: var(--color-orange);
	box-shadow: 2px 2px 10px var(--color-orange);
}

.benefit__icon--green {
	background: var(--color-green);
	box-shadow: 2px 2px 10px var(--color-green);
}

/* MAIN ~ features */
.features {
	height: 480px;
}

.header__title--features {
	font-size: 18px;
	margin: 0 20px 10px;
}

.article__content--features {
	flex-direction: column;
}

.container--features {
	flex-direction: column;
}

.article__text--features {
	margin: 0 20px 15px;
	font-size: 13px;
	text-align: left;
}

.article__btn--features {
	padding: 15px 25px;
	margin: 0 20px 25px;
	background: var(--color-blue);
}

/* MAIN ~ reviews */
.reviews {
	height: 350px;
	background-image: url(../images/banner/testmonial.png);
	background-position: center;
	background-size: cover;
	color: var(--color-alfa);
	text-align: center;
}

.wrapper {
	height: 100%;
	background-color: rgba(23, 144, 243, 0.8);
}

.header__title--reviews {
	margin: 60px 30px 15px;
	font-size: 19px;
}

.article__content--reviews {
	flex-direction: column;
}

.article__text--reviews {
	font-size: 15px;
	margin: 0 15px;
}

.article__text--stars {
	margin-top: 15px;
	font-size: 13px;
}

.fa-star {
	color: gold;
	font-size: 16px;
}

/* MAIN ~ pricing */
.pricing {
	height: 1220px;
}

.header--pricing {
	flex-direction: column;
}

.header__title--pricing {
	margin: 30px 0 15px;
	font-size: 22px;
}

.header__text--pricing {
	margin: 0 10px;
	font-size: 14px;
	text-align: center;
}

.container--pricing {
	height: 900px;
}

.article__content--pricing {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 35%;
	margin: 15px 10px;
	align-items: center;
	box-shadow: 5px 10px 61px 20px rgb(248, 245, 245);
}

.article__content--pricing-business {
	height: 40%;
}

.header__pricing {
	justify-content: space-around;
	width: 90%;
	margin: 15px 10px;
	padding: 10px 15px;
	font-size: 17px;
}

.article__title--pricing {
	margin-right: 60%;
}

.header__pricing--blue {
	background: rgba(6, 85, 231, 0.05);
}

.article__price--blue {
	color: var(--color-blue);
}

.header__pricing--orange {
	background: rgba(231, 6, 6, 0.05);
}

.article__price--orange {
	color: var(--color-orange);
}

.header__pricing--green {
	background: rgba(6, 231, 17, 0.05);
}

.article__price--green {
	color: green;
}

.pricing__list-services {
	flex-direction: column;
}

.pricing__item {
	margin-bottom: 15px;
}

.pricing__btn {
	margin-top: 15px;
	padding: 5px 35px;
	border: 1px solid var(--color-blue);
	background: none;
	border-radius: 5px;
	color: var(--color-blue);
}

/* MAIN ~ get-app */
.get-app {
	height: 280px;
	background: var(--light-blue);
}

.article__content--get-app {
	flex-direction: column;
}

.header__title--get-app {
	margin: 25% 5% 3%;
	font-size: clamp(1.5rem, 2.5vw, 3rem);
	text-align: center;
	color: var(--color-alfa);
}

.container__img--get-app {
	width: 40%;
	transform: scale(1.1);
}

/* MAIN ~ menu-end > app-lab */
.menu-end {
	height: 710px;
	background: var(--nav-color);
	color: var(--color-alfa);
}

.article__content--app-lab {
	flex-direction: column;
}

.header__logo--app-lab {
	margin: 40px 10px 10px;
}

.article__text--app-lab {
	margin: 0 10px 15px;
	font-size: 14px;
}

.container__icons--app-lab {
	margin: 0 10px 15px;
	font-size: 31px;
}

/* MAIN ~ menu-end > services, useful-links, downloads */
.article__content--menu-end {
	flex-direction: column;
}

.header--menu-end {
	margin: 5px 10px 15px;
	font-size: 22px;
}

.menu-end__item {
	margin: 0 10px 10px;
	font-size: 13px;
}

/* FOOTER */
.footer {
	height: 100px;
	background: var(--color-beta);
	color: var(--color-alfa);
}

.footer__container {
	flex-direction: column;
}

.footer__text {
	margin: 30px 20px 0;
	font-size: 15px;
}

.footer__span {
	color: var(--color-blue);
}