/* HEADER */
.header__logo {
	position: absolute;
	left: 30%;
	transform: translate(-50%, -50%);
	top: 33px;
	width: 170px;
}

.nav-label {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
	background: #333;
}

.icon-burger {
	font-size: 40px;
	color: var(--color-alfa);
}

.nav-btn:checked + .nav__menu {
	display: block;
}

.nav-btn {
	display: none;
}

.nav__item,
.menu__item {
	background: #333;
	margin: 5px;
	padding: 10px;
}

.menu__item {
	border: 1px solid white;
	border-radius: 30px;
	text-align: center;

	width: 140px;
}

.nav__link,
.menu__link {
	text-decoration: none;
	text-transform: uppercase;
}

.nav__menu {
	display: none;
	text-align: center;
}

.menu__list {
	display: none;
	font-size: 12px;
	text-align: right;
}

.menu__list:hover {
	display: block;
}

.nav__item:hover > .menu__list {
	display: flex;
	justify-content: center;
}

a {
	color: var(--color-alfa);
}

/* MAIN ~ get-start */
.get-start {
	background-image: url('../images/banner/banner.png');
	height: 680px;
	background-size: cover;
	background-position: center;
	color: var(--color-alfa);
}

.header__title--get-start {
	margin: 20px 20px 10px;
	font-size: 23px;
}

.header__title {
	text-transform: capitalize;
}

.container--get-start {
	flex-direction: column;
}

.container__text--get-start {
	margin: 0 20px;
	font-size: 12px;
}

.container__btn--get-start {
	padding: 10px 20px;
	margin: 20px 0 60px;
	border: none;
	color: var(--color-alfa);
	background: #37ebed;
	border-radius: 8px;
}

.container__img--get-start {
	height: 50%;
}

/* MAIN ~ benefits */
.benefits {
	margin-top: 60px;
	height: 650px;
}

.header__title--benefits {
	margin-bottom: 30px;
	font-size: 18px;
}

.benefit__text {
	margin: 13px 0 25px;
	width: 160px;
	text-align: center;
}

.benefit__item {
	flex-direction: column;
}

.benefit__icon {
	width: 90px;
	height: 90px;
	padding: 25px;
	border-radius: 15px;
}

.benefit__icon--blue {
	background: #2393F9;
	box-shadow: 2px 2px 10px #2393F9;
}

.benefit__icon--orange {
	background: #FD945E;
	box-shadow: 2px 2px 10px #FD945E;
}

.benefit__icon--green {
	background: #37EF8D;
	box-shadow: 2px 2px 10px #37EF8D;
}

/* MAIN ~ features */
.features {
	height: 480px;
}

.header__title--features {
	font-size: 18px;
	margin: 0 10px 15px;
}

.container--features {
	flex-direction: column;
}

.container__text--features {
	margin: 0 15px 20px;
	font-size: 13px;
}

.container__btn--features {
	padding: 15px 25px;
	margin-bottom: 25px;
	border-radius: 10px;
	border: none;
	background: #0181F5;
	color: var(--color-alfa);

}