/* HEADER ~ nav */
.header__logo--navbar {
	left: 15%;
}

/* MAIN ~ get-start */
.get-start {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 520px;
	background-position: left;
}

.article__content--get-start {
	width: 320px;
	margin-bottom: 180px;
	margin-left: 25%;
	display: flex;
	justify-content: center;
}

.header--get-start {
	width: 300px;
}

.header__title--get-start {
	font-size: 28px;
}

.article__text--get-start {
	margin: 0 20px;
	font-size: 16px;
}

.article__btn--get-start {
	padding: 15px 40px;
	background: #37ebed;
}

.container--get-start {
	height: 650px;
	width: 330px;
	margin-right: 45%;
}

.container__img--get-start {
	height: 70%;
	width: 90%;
}

/* MAIN ~ benefits */
.benefits {
	margin-top: 130px;
	height: 350px;
}

.header__title--benefits {
	margin-left: 230px;
	margin-right: 230px;
	font-size: 27px;
	text-align: center;
}

.benefits__list {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
}

.benefit__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.benefit__item--blue {
	margin-left: 120px;
}

.benefit__item--orange {
	margin-top: 25px;
}

.benefit__item--green {
	margin-right: 120px;
}

/* MAIN ~ features */
.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	height: 390px;
}

.header__title--features {
	font-size: 25px;
}

.article__content--features {
	margin-left: 110px;
	width: 300px;
}

.article__text--features {
	font-size: 14px;
}

.article__btn--features {
	padding: 12px 25px;
}

.container--features {
	margin-right: 110px;
}
