/* HEADER ~ nav */
.header__logo--navbar {
	left: 15%;
}

/* MAIN ~ get-start */
.get-start {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-position: left;
	height: 520px;
}

.article__content--get-start {
	display: flex;
	justify-content: center;
	width: 320px;
	margin: 0 0 180px 25%;
}

.header--get-start {
	width: 300px;
}

.header__title--get-start {
	font-size: 28px;
}

.article__text--get-start {
	margin: 0 20px;
	font-size: 16px;
}

.article__btn--get-start {
	padding: 15px 40px;
	background: #37ebed;
}

.container--get-start {
	height: 650px;
	width: 330px;
	margin-right: 45%;
}

.container__img--get-start {
	height: 70%;
	width: 90%;
}

/* MAIN ~ benefits */
.benefits {
	margin-top: 130px;
	height: 350px;
}

.header__title--benefits {
	margin: 0 230px 0 230px;
	font-size: 27px;
	text-align: center;
}

.benefits__list {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
}

.benefit__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.benefit__item--blue {
	margin-left: 120px;
}

.benefit__item--orange {
	margin-top: 25px;
}

.benefit__item--green {
	margin-right: 120px;
}

/* MAIN ~ features */
.features {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	height: 390px;
}

.header__title--features {
	font-size: 25px;
}

.article__content--features {
	margin-left: 110px;
	width: 300px;
}

.article__text--features {
	font-size: 14px;
}

.article__btn--features {
	padding: 12px 25px;
}

.container--features {
	margin-right: 110px;
}

/* MAIN ~ reviews */
.wrapper {
	display: flex;
	justify-content: center;
}

.article__content--reviews {
	width: 600px;
}

.header--reviews {
	width: 300px;
}

.header__title--reviews {
	margin: 0 30px 35px;
	font-size: 25px;
}

.article__text--reviews {
	width: 480px;
}

.article__text--stars {
	margin-top: 35px;
}

/* MAIN ~ pricing */
.pricing {
	height: 760px;
}

.header__title--pricing {
	margin: 70px 0 15px;
	font-size: 25px;
}

.header__text--pricing {
	width: 400px;
	margin: 0 10px 40px;
	font-size: 15px;
}

.container--pricing {
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.article__content--pricing {
	margin: 15px 0;
	box-shadow: 5px 10px 121px 20px #ddd;
}

.article__content--pricing-basic {
	width: 33%;
	height: 80.5%;
	margin-left: 90px;
}

.article__content--pricing-team {
	width: 33%;
	height: 92.5%;
}

.article__content--pricing-business {
	width: 33%;
	height: 80.5%;
	margin-right: 90px;
}

.header__pricing {
	justify-content: center;
	width: 100%;
	margin: 15px 10px;
	padding: 25px 15px;
}

.article__title--pricing {
	margin-right: 100px;
}

.pricing__item {
	margin: 15px 0 20px;
}

.pricing__btn {
	margin: 15px 0 32px;
	padding: 10px 35px;
}

/* MAIN ~ get-app */
.header--get-app {
	width: 400px;
}

.header__title--get-app {
	margin: 55px 20px 10px;
	font-size: 29px;
}

.container__img--get-app {
	width: 43%;
}

/* MAIN ~ menu-end > app-lab */
.menu-end {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	align-items: center;

	height: 550px;
}

.article__content--app-lab {
	margin-left: 100px;
}

.article__text--app-lab {
	margin: 0 10px 25px;
}

.container__icons--app-lab > .fab {
	margin-right: 10px;
}

/* MAIN ~ menu-end > services */
.article__content--services {
	margin-left: 70px;
}

/* MAIN ~ menu-end > useful-links */
.article__content--useful-links {
	margin-left: 100px;
}

/* MAIN ~ menu-end > downloads */
.article__content--downloads {
	margin: 0 0 52px 70px;
}

/* MAIN ~ menu-end > services, useful-links, downloads */
.header--menu-end {
	font-size: 25px;
}

.menu-end__item {
	font-size: 15px;
}
